@charset "UTF-8";

/* 
Typical Device Breakpoints

Pequenas Telas:     até 600px
Celular:            de 600px até 768px
Tablet:             768px até 992px
Desktop:            992px até 1200px
Grandes Telas:      acima de 1200px 
*/

/* Telas de Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    
    /* muda o fundo */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }    
    
    section#login {
        width: 80vw;
        height: 325px;
    }
    
    /* mudar a posição da imagem de login */
    /* informação da imagem */
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background: #5f2c82 url(../imagens/ponte.jpg) no-repeat;
        background-size: cover;               
    }
    /* informação do formulário */
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

/* Desktop e Telas Grande */
@media screen and (min-width: 992px) {
    /* muda o fundo */
    body {
        background-image: linear-gradient(to top, #49a09d, #150a1d);
    }    

    section#login {
        width: 950px;
        height: 410px;
    }

    /* informação de posição da imagem */
    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    /* informação de posição do formulário */
    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    /* aumenta o tamanho da fonte */
    /* em dispositivos grande */
    div#formulario h1 {
        font-size: 2.5em;
    }
    div#formulario > p {
        font-size: 1.3em;
        margin: 20px 0px;    
    }
}
