@charset "UTF-8";

/* 
Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82 
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    padding: 0px;
    margin: 0px;
    /* faz o borda fazer parte do padrão de largura */
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    /* Todo que estiver fora da borda será escondido */
    /* o comando abaixo é necessário pois as bordas estão arredondadas */
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 545px;
    border-radius: 20px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);    

    /* centralização da tela de login */
    /* SEMPRE que houver ANIMAÇÃO no site a 
    linha de TRANSFORMAÇÃO e TRANSIÇÃO DEVEM SER AS ÚLTIMAS */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    /* cria uma transição de tela pequena para grande e vice-versa */
    transition: width .3s, height .3s;
    /* muda a velocidade de transição */
    transition-timing-function: ease;
}

section > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-pixabay-276259.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    
    /* posiciona a imagem na tela de login */
    /* background-position: left bottom; */
    background-position: -25px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.563);
}
div#formulario > p {
    font-size: 0.8em;
    text-indent: 15px;
    text-align: justify;    
}
div#formulario > img {
    display: block;
    margin: auto;    
    width: 40px;
    margin-bottom: 8px;
    margin-top: -7px;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    width: 100%;
    display: block;
    height: 39px;
    border-radius: 8px;
    margin: 5px 0px;    
}

/* faz desaparecer o label login/senha */
div.campo > label {
    display: none;
}

/* 
configuração de ÍCONES Google
Nesse projeto está apresentando problemas */
div.campo > i {
    color: white;
    background-color: black;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

/* configuração da imagens/ícones */
div > img.imagem-icone {
    color: white;
    /* background-color: black; */
    width: 38px;
    padding: px;
}

/* configuração da caixa de digitação */
div.campo > input {
    background-color: #94cfcd;
    font-size: 1em;
    padding-bottom: 4px;

    /* É possível realizar CÁLCULOS em CSS :o */
    width: calc(100% - 42px);

    height: 100%;
    border: 0px;
    border-radius: 8px;

    /* move a caixa de digitação para cima
    PODE NÃO SER NECESSÁRIO */
    /* SEMPRE que houver ANIMAÇÃO no site a 
    linha de TRANSFORMAÇÃO DEVE SER A ÚLTIMA */
    transform: translateY(-17px);
}

/* A caixa que se iniciar a digitação fica WHITE */
div.campo > input:focus-within {
    background-color: white;
    border: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    /* muda a forma do cursor */
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: #2d6462;
}

/* o link da classe botao que está dentro do form */
form > a.botao {
   display: block;
   text-align: center; 
   font-size: 1em;
   color: #2d6462;
   width: 100%;
   height: 40px;
   padding-top: 5px;
   margin-top: 5px;
   background-color: white;
   border: 1px;
   border-radius: 7px;
   border: 1px solid #49a09d;
   text-decoration: none;
}
form > a.botao:hover {
    background-color: #6cd3cf;
}
/* 
o site está apresentando problemas de apresentação
de ícones */
form > a.botao > i {
    font-size: 0.8em;
}


